<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hi, <%= @user.fname %></h1>
    <p>
      You have successfully created an event on Gifter called <%= @event.name%>
    <br>
    </p>
    <p>
      To check out the event, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for creating and have a great day!</p>

</body>
</html>