<body class="content-wrapper">
	<%= render :partial => "/layouts/navbar" %>
	
	<div class="event-box animated bounce">
		<h1><center>All Users</center></h1>

		<ul>
			<% @users.each do |user| %>
			<li> <%= link_to user.email, user_path(user) %> </li>
			<% end %>
		</ul>

	</div>
</body>
