<div class="container darkBg">
<<<<<<< HEAD
=======
	<script src='javascripts/snowfall.jquery.min.js'></script>
>>>>>>> aa8cc3ea1997a4bedebcea467c4fdb87770f9a3e
	<script type='text/javascript'> 
		$(document).ready(function(){

			$(document).snowfall();
			document.body.className  = "darkBg";
			$(document).snowfall({collection : '.collectonme', flakeCount : 250});

		});
	</script>

	<nav>
	
	</nav>

	<div class="row">
		<div class="col-md-12">
			<div class="collectonme gifter-wrapper">
				<h1 id="maintitle" class="animated swing">Gifter</h1>
			</div>
		</div>
	</div>
	<div class="row">

		<%if current_user %>

			<%= render :partial => "/layouts/navbar" %>
		
		<% else %>
		<div class="col-md-6">
			<div class="collectonme btn-wrapper">
				<a href="/users/sign_in" class="btn btn-success animated bounceInLeft">Log in</a>
			</div>
		</div>

		<div class="col-md-6">
			<div class="collectonme btn-wrapper">
				<a href="/users/sign_up" class="btn btn-success animated bounceInRight">Sign Up</a>
			</div>
		</div>
		<% end %>
		

	</div>
</div>
