<div class="container darkBg">
	<script src='javascripts/snowfall.jquery.min.js'></script>
    <script type='text/javascript'> 
	    $(document).ready(function(){

	    	$(document).snowfall();
	    	document.body.className  = "darkBg";
	    	$(document).snowfall({collection : '.collectonme', flakeCount : 250});

	    });
	</script>

	<div class="row">
		<div class="col-md-12 collectonme">
			<h1 id="maintitle" class="animated swing">Gifter</h1>
		</div>
	</div>
	<div class="row">

		<%if current_user %>
		
		<% else %>
			<div class="col-md-6 collectonme">
				<a href="/users/sign_in" class="btn btn-success animated bounceInLeft">Log in</a>
			</div>

			<div class="col-md-6 collectonme">
				<a href="/users/sign_up" class="btn btn-success animated bounceInRight">Sign Up</a>
			</div>
		<% end %>
				

	</div>
</div>
