<% exes = event_exchanges(@event.id) %>	
<% exes.each do |exchange| %>	
	<p>
		<% gifter = User.find exchange.gifter %>
		<% giftee = User.find exchange.giftee %>
		<h3><%= "#{gifter.email} is giving to #{giftee.email}" %></h3>
	</p>
<% end %>