<body class="content-wrapper">
	<div class="event-box animated bounce">
		<h1><center>All Events</center></h1>

		<ul>
			<% @events.each do |event| %>
			<% join = EventUser.where(event_id: event.id, admin: true).last %>
			<% user = User.where(id: join.user_id).last %>
			<% @host = user.email %>
			<li> <%= link_to event.name, event_path(event) %> hosted by <%= link_to @host, user_path(user) %> </li>
			<% end %>
		</ul>

	</div>
</body>
